@import '../../util/varibales';

#navigation_container {
    background-color: #00000060;
    height: 5rem;


    #nav_list {
        margin-top: 0rem;
        padding-right: 2rem;
        height: 100%;
        width: 20rem;
        list-style-type: none;

        display: flex;
        justify-content: space-between;
        align-items: center;
        float: right;


    }



}