// Screen Width
$max-width-large: 90rem;


// Font Family
$title-font:'Dosis',
sans-serif;
$sub-title-font: 'Red Rose',
cursive;
$description-font: 'Roboto',
sans-serif;

// Font Weight
$regular: 400;
$semi-bold: 600;
$bold: 700;