@import "../../util/mixins";
@import "../../util/variables";

#projects {
  max-width: $max-width-large;
  text-align: center;
  color: white;
  background-color: $light-black;

  .header {
    @include header_style;

    .header_text {
      @include header_text;
    }
  }


}
