@import "../../util/mixins";
@import "../../util/varibales";

#projects {
  max-width: $max-width-large;
  text-align: center;
  color: white;
  background-color: $light-black;

  .header {
    @include header_style;

    .header_text {
      @include header_text;
    }
  }

  .project_info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    padding-bottom: 4rem;
    padding-top: 5rem;
    box-shadow: 0rem 4px 6px -5px #000000;
    background-color: $light-black;

    &:nth-child(odd) {
      flex-direction: row-reverse;
      background-color: $dark-black;

      .project_image {
        box-shadow: -12px 12px 0 $red-pink;
      }
    }

    .technology_panel,
    .description_panel {
      flex-basis: 40rem;
      flex-shrink: 1;
      flex-grow: 1;
    }
  }
}

@media (max-width: 850px) {
  .technology_panel {
    padding-bottom: 6rem;
  }
}