@import '../../util/varibales';

#projects {
    max-width: $max-width-large;
    background-color: #EAEAEA;
    text-align: center;


    .header {
        @include header_style;

        .header_text {
            @include title_text;
        }
    }

    .project_info {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        height: 80%;
        width: 100%;
        justify-content: space-around;
        padding-bottom: 4rem;
        padding-top: 5rem;
        box-shadow: 0rem 4px 6px -5px #000000;

        &:nth-child(odd) {
            flex-direction: row-reverse;
        }

        .left_panel,
        .right_panel {
            flex-basis: 40rem;
            flex-shrink: 1;
            flex-grow: 1;

        }
    }
}

@media (max-width: 810px) {
    .left_panel {
        padding-bottom: 3rem;
    }
}