@import '../../../util/varibales';

.tech_card {
    flex: 32% 0 0;

    .card_title {
        font-family: $title-font;
        font-weight: $bold;
        font-size: 3rem;
        margin-bottom: 0;
    }


    .tech_stack {
        background-color: white;
        min-width: 35rem;
        box-shadow: 5px 6px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        .weekly_title {
            padding-top: 0.5rem;
            padding-left: 2rem;
            text-align: left;
            font-family: $title-font;
            font-weight: $bold;
            font-size: 1.3rem;
        }

        .past_title {
            padding-left: 2rem;
            text-align: left;
            font-family: $title-font;
            font-weight: $bold;
            font-size: 1.3rem;
        }

        .weekly_usage,
        .past_usage {
            margin: 0 auto;
            width: 70%;
            height: 50%;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            padding-bottom: 2rem;
        }


        .language {
            height: 8.5rem;
            flex: 20% 1;

            img {
                height: 5rem;
                width: 5rem;
            }

        }
    }
}