// Technology Cards Mixins
@mixin tech-usage-container {
  margin: 0 auto;
  display: flex;
  width: 65%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

// Technology Mixins
@mixin tech-icon-projects {
  width: 3rem;
}

@mixin tech-icon-skills {
  width: 4rem;
}

@mixin tech-name {
  font-family: $sub-title-font;
  font-weight: $regular;
  font-size: clamp(18px, 1vw, 24px);
  margin-top: 0rem;
}

// Header Mixins
@mixin header_style {
  max-width: 98%;
  margin: auto;
}

@mixin header_text {
  padding-top: 3rem;
  color: white;
  font-family: $title-font;
  font-weight: $regular;
  font-size: $header-font-size;
  margin: 0;
  padding-bottom: 2rem;

  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;

  &:before,
  &:after {
    content: "";
    border-top: 1px solid $red-pink;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
  }

  &:after {
    margin: 0 0 0 20px;
  }
}

// Border Mixins for Lines
@mixin border_top_left {
  .border_top_left {
    border-left: solid 1px $red-pink;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 90%;
  }
}

@mixin border_top_right {
  .border_top_right {
    position: absolute;
    border-right: solid 1px $red-pink;
    top: 0;
    bottom: 90%;
    right: 0;
  }
}

@mixin border_bottom_right {
  .border_bottom_right {
    border-right: solid 1px $red-pink;
    position: absolute;
    top: 90%;
    bottom: 0;
    right: 0;
  }
}

@mixin border_bottom_left {
  .border_bottom_left {
    position: absolute;
    border-right: solid 1px $red-pink;
    top: 90%;
    bottom: 0;
    left: 0;
  }
}
