// Screen Width
$max-width-large: 1920px;

// Colors
$red-pink: #d73953;
$light-black: #252525;
$dark-black: #161616;

// Font Family
$title-font: "Staatliches",
sans-serif;
$sub-title-font: "Red Rose",
cursive;
$description-font: "Roboto",
sans-serif;

// Font Weight
$regular: 400;
$semi-bold: 600;
$bold: 700;

// Font Size