// Screen Width
$max-width-large: 1920px;

// Colors
$red-pink: #D73953;
$light-black: #252525;

// Font Family
$title-font:'Staatliches',
sans-serif;
$sub-title-font: 'Red Rose',
cursive;
$description-font: 'Roboto',
sans-serif;

// Font Weight
$regular: 400;
$semi-bold: 600;
$bold: 700;

// Technology Cards Mixins
@mixin tech-usage-container {
    margin: 0 auto;
    display: flex;
    height: 16rem;
    width: 65%;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

// Technology Mixins
@mixin tech-icon {
    width: 4rem;
}

@mixin tech-name {
    font-family: $sub-title-font;
    font-weight: $regular;
    font-size: 1.2rem;
    margin-top: 0rem;
}

// Header Mixins
@mixin header_style {

    max-width: 98%;
    margin: auto;
}

@mixin title_text {
    padding-top: 3rem;
    font-family: $sub-title-font;
    font-weight: $regular;
    font-size: 2rem;
    margin-top: 0rem;

    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;


    &:before,
    &:after {
        content: '';
        border-top: 1px solid #838383;
        margin: 0 20px 0 0;
        flex: 1 0 20px;
    }

    &:after {
        margin: 0 0 0 20px;
    }
}

@mixin under_lines {
    border-left: solid 2px $red-pink;
    border-right: solid 2px $red-pink;
    border-bottom: solid 2px $red-pink;
    height: 2rem;
    margin-top: 1rem;

}

@mixin over_lines {
    border-left: solid 2px $red-pink;
    border-right: solid 2px $red-pink;
    border-top: solid 2px $red-pink;
    height: 2rem;
    margin-bottom: -1rem;

}