// Screen Width
$max-width-large: 1920px;
$min-width: 475px;

// Colors
$red-pink: #d73953;
$light-black: #252525;
$dark-black: #161616;

// Font Family
$title-font: "Staatliches",
sans-serif;
$sub-title-font: 'Oxygen',
sans-serif;
$description-font: "Roboto",
sans-serif;

// Font Weight
$regular: 400;
$semi-bold: 600;
$bold: 700;

// Font Size
$navigation-font-size: clamp(28px, 1.8vw, 32px);
$banner-font-size: clamp(28px, 3.2vw, 64px);
$banner-role-font-size: clamp(24px, 2.8vw, 52px);
$skills-font-size: clamp(42px, 2.8vw, 54px);
$header-font-size: clamp(42px, 3.2vw, 64px);
$desc-links-font-size:clamp(16px, 1vw, 24px);