@import "../../../util/variables";

.contact_form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: left;
  width: 45rem;
  margin: auto;

  .form_label {
    font-family: $sub-title-font;
    font-weight: $regular;
    padding-bottom: 0.2rem;
    color: $red-pink;
  }

  .form_field {
    border: none;
    border-radius: 5px;
    height: 1.4rem;
    margin-bottom: 2rem;
    font-family: $description-font;
    font-weight: $bold;

    &:focus {
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.247);
      outline: none;
    }
  }

  #form_text_area {
    max-width: 100%;
    height: 10rem;
    max-height: 35rem;
  }

  #send_button {
    width: 25rem;
    margin: auto;
    border: none;
    background-color: $red-pink;

    color: white;
    font-family: $sub-title-font;
    font-weight: 400;
    font-size: 1.5rem;
    border-radius: 5px;
    transition: 0.2s all;
    padding: 0.5rem;
    box-shadow: 0px 2px 4px 0px #d7395355;

    &:hover {
      background-color: transparent;
      cursor: pointer;
      border: solid 1px $red-pink;
    }

    &:focus {
      outline: none;
    }

    &:active {
      transform: scale(0.98);

      box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    }
  }
}

@media (max-width: 750px) {
  .contact_form {
    width: 95%;
  }
}
