@import '../../util/varibales';

#navigation {
    background-color: #00000060;
    height: 5rem;
    position: absolute;
    width: 100%;
    color: white;
    z-index: 1;
    max-width: $max-width-large;
    margin: auto;
    display: inline;
    border-bottom: 1px solid $red-pink;

    #icons {
        display: flex;
        flex-flow: row nowrap;
        height: 100%;
        width: 15rem;
        float: left;
        justify-content: space-around;
        align-items: center;

        #logo {
            border-right: solid 3px $red-pink;

            h1 {
                margin: 0;
                font-family: $title-font;
                font-weight: $regular;
                padding-right: 1rem;
            }
        }

        #resume_icon {
            height: 2rem;
            width: 2rem;
        }

        #github_icon {
            height: 2rem;
            width: 2rem;
        }
    }


    #nav_list {
        float: right;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 0rem;
        height: 100%;

        list-style-type: none;
        font-family: $title-font;
        font-weight: $regular;
        font-size: 1.7rem;

        li {
            padding-right: 3rem;
        }

    }

    .nav_links:hover {
        cursor: pointer;
    }


}