@import '../../../util/varibales';
@import '../../../util/mixins';
@import 'node_modules/react-modal-video/scss/modal-video.scss';

@mixin text-area-style {
  font-family: $description-font;
  font-weight: $regular;
  max-width: 72%;
  margin: 0 auto;
  font-size: 1.2rem;
}

.description_panel {
  text-align: left;
  margin-top: 3rem;

  .description {
    padding: 1rem 0rem 0rem 2rem;
    border-top: solid 1px $red-pink;
    position: relative;

    @include border_top_left;
    @include text-area-style;

  }

  .goals {
    padding: 1rem 0rem 0rem 0rem;
    @include text-area-style;
  }

  .accomplishments {
    padding: 1rem 2rem 0rem 0rem;
    border-bottom: solid 1px $red-pink;
    position: relative;

    @include text-area-style;
    @include border_bottom_right;

  }

  .list_item {
    padding: 0.2rem 0rem 0.2rem 0rem;
    list-style: none;

    &::before {
      content: "\25AA";
      color: $red-pink;
      display: inline-block;
      width: 1rem;
      margin-left: -1rem;
    }
  }

  h3 {
    font-family: $sub-title-font;
    font-weight: $regular;
    font-size: 1.4rem;
    display: flex;
    align-items: flex-end;
    width: fit-content;
    border-bottom: solid 1px #FFFFFF;
  }

  .links {
    padding: 2rem 0rem 1.5rem 0rem;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;

    span {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      flex-basis: 33%;

      &:hover {
        cursor: pointer;
      }
    }

    img {
      width: 3.5rem;
      height: 3.5rem;
      margin-right: .2rem;
    }

    h4 {
      font-family: $sub-title-font;
      font-weight: $regular;
      margin: 0;
      font-size: $desc-links-font-size;
    }
  }
}

@media (max-width: 1500px) {
  .project_info .description {

    .description,
    .goals,
    .accomplishments {
      max-width: 90%;
    }
  }
}