@import "../../../util/varibales";
@import "../../../util/mixins";

.project_name {
  text-align: left;
  padding-left: 3rem;
  font-family: $title-font;
  font-weight: $regular;
  font-size: 2.7rem;
  margin-bottom: 0.5rem;
}

.project_image {
  width: 90%;
  height: 50%;
  object-fit: cover;
  box-shadow: 12px 12px 0 $red-pink;
}

.tech_title {
  font-family: $title-font;
  text-align: left;
  padding-left: 10rem;
  font-weight: $regular;
}

.project_tech {
  position: relative;
  margin: 0 auto;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 2em;
  padding-bottom: 1em;
  border-top: solid 1px $red-pink;
  border-bottom: solid 1px $red-pink;

  #border_top_left {
    position: absolute;
    border-left: solid 1px $red-pink;
    top: 0;
    bottom: 90%;
    left: 0;
  }
  #border_top_right {
    position: absolute;
    border-right: solid 1px $red-pink;
    top: 0;
    bottom: 90%;
    right: 0;
  }
  #border_bottom_left {
    position: absolute;
    border-right: solid 1px $red-pink;
    top: 90%;
    bottom: 0;
    left: 0;
  }
  #border_bottom_right {
    position: absolute;
    border-right: solid 1px $red-pink;
    top: 90%;
    bottom: 0;
    right: 0;
  }

  .technology {
    justify-content: flex-end;
    align-items: center;
    flex: 0 0 25%;
    display: flex;
    flex-flow: column nowrap;

    img {
      @include tech-icon-projects;
    }

    h5 {
      @include tech-name;
    }
  }
}

@media (max-width: 1297px) {
  .project_image {
    width: 75%;
    height: 50%;
  }
}

@media (max-width: 660px) {
  .project_image {
    width: 95%;
    height: 50%;
  }
}
