@import "../../../util/varibales";

.right_panel {
  text-align: left;


  .description {
    padding: 4rem 0rem 1rem 0rem;
    max-width: 70%;
    margin: 0 auto;
    font-family: $description-font;
    font-weight: $regular;
    font-size: 1.2rem;
  }

  .goals,
  .accomplishments {
    padding: 2rem 0rem 1.5rem 0rem;
    max-width: 70%;
    margin: 0 auto;
    font-family: $description-font;
    font-weight: $regular;
    font-size: 1.2rem;

    .list_item {
      padding: .2rem 0rem .2rem 0rem;
      list-style-type: square;
    }
  }

  h3 {
    font-family: $sub-title-font;
    font-weight: $regular;
    font-size: 1.4rem;
    display: flex;
    align-items: flex-end;
    width: 100%;

    &:after {
      content: "";
      border-bottom: 1.5px solid #000000;
      margin-bottom: 5px;
      margin-left: 5px;
      flex: 1 0 20px;
    }
  }

  .links {
    padding: 2rem 0rem 1.5rem 0rem;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    span:hover {
      cursor: pointer;
    }


    img {
      width: 4rem;
      height: 4rem;
      padding: 0rem 2rem 1rem 2rem;
    }

    h4 {
      margin: 0;
      font-family: $description-font;
      font-weight: bold;
      font-size: 1.2rem;
    }

  }
}