@import "../../../util/varibales";
@import "../../../util/mixins";

.project_name {
  text-align: left;
  padding-left: 1.5rem;
  font-family: $sub-title-font;
  font-weight: $regular;
  font-size: clamp(32px, 2vw, 38px);
  margin-bottom: 0.5rem;
}

.project_image {
  width: 95%;
  min-width: $min-width;
  object-fit: cover;
  box-shadow: 12px 12px 0 $red-pink;
  margin-bottom: 2rem;

}

.tech_title {
  font-family: $sub-title-font;
  text-align: left;
  padding-left: 10rem;
  font-weight: $regular;
}

.project_tech {
  position: relative;
  margin: 0 auto;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  padding-top: 2em;
  padding-bottom: 1em;
  border-top: solid 1px $red-pink;
  border-bottom: solid 1px $red-pink;

  @include border_top_left;
  @include border_top_right;
  @include border_bottom_left;
  @include border_bottom_right;

  .technology {
    justify-content: flex-end;
    align-items: center;
    flex: 0 0 25%;
    display: flex;
    flex-flow: column nowrap;

    img {
      @include tech-icon-projects;
    }

    h5 {
      @include tech-name;
    }
  }
}



@media (max-width: 660px) {

  .project_info .project_name,
  .project_info .tech_title {
    text-align: center;
    padding-left: 0;
  }

  .project_tech {
    width: 75%;
  }
}