@import "../../util/varibales";
@import "../../util/mixins";

#contact {
  max-width: $max-width-large;
  text-align: center;

  .header {
    @include header_style;

    .header_text {
      @include title_text;
    }
  }

  #form_container {
    padding-bottom: 2rem;
    padding-top: 5rem;
    width: 100%;
  }
}
