@import '../../util/varibales';

#contact {
    max-width: $max-width-large;
    background-color: #EAEAEA;
    text-align: center;


    .header {
        @include header_style;

        .header_text {
            @include title_text;
        }
    }

    #contact_container {
        display: inline-block;
        padding-bottom: 4rem;
        padding-top: 5rem;
        width: 100%;

    }
}