@import "../../../util/_variables";
@import "../../../util/_mixins";


#project_description_container{
    padding-bottom: 50px;
    
}

#panel_containers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#projects_back_button{
    background: none;
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 20px;
    margin-left: 20px;
    cursor: pointer;
    img{
        width: 40px;
        transform: rotate(270deg);
    }
    #go_back_text{
        color: white;
        font-family: $sub-title-font;
    }
}

#left_panel{
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;


    #project_image {
        width: 85%;
        min-width: $min-width;
        object-fit: cover;
        box-shadow: 12px 12px 0 $red-pink;
        margin-bottom: 2rem;
    
    }
    #links{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-around;

        span{
            width: 33%;
        }

        .links_icon {
            height: 40px;
            width: 40px;
        }
    }
    
    

}

#right_panel{

    flex: 1 1 50%;

    #description{
        padding-bottom: 20px;
        text-align: left;
        p{
            width: 85%;
        }
    
        h2{
            text-decoration: underline;
           
        }
      
    }
.project_tech {
    position: relative;
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    padding-top: 2em;
    padding-bottom: 1em;
    border-top: solid 1px $red-pink;
    border-bottom: solid 1px $red-pink;

    @include border_top_left;
    @include border_top_right;
    @include border_bottom_left;
    @include border_bottom_right;

    .technology {
        justify-content: flex-end;
        align-items: center;
        flex: 0 0 25%;
        display: flex;
        flex-flow: column nowrap;

        img {
            @include tech-icon-projects;
        }

        h5 {
            @include tech-name;
        }
    }
}
}

@media (max-width: 1600px) {
    #right_panel .project_tech {
            width: 75%;
    }
}

@media (max-width: 1050px) {
    #right_panel{
        flex: 1 1 100%;
        #description{
            text-align: center;

            p{
                    width: 65%;
                    margin: auto;
            }
        }
    }
    #left_panel {
        flex: 1 1 100%;
        
    }
}