@import "../../../util/variables";
@import "../../../util/mixins";

.card {
  flex: 32% 0 0;

  .card_title {
    font-family: $title-font;
    font-weight: $regular;
    color: white;
    font-size: $skills-font-size;
    margin-bottom: 0;
    padding-left: 0.2rem;
    text-decoration: underline $red-pink;
    padding-bottom: 0.2rem;
  }

  .tech_stack {
    background-color: $light-black;
    min-width: $min-width;
    box-shadow: 5px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    color: white;
    min-height: 36rem;

    #familiar_container {
      &:nth-child(1) {
        padding-bottom: 8rem;
      }
    }

    .proficient_title {
      padding-top: 0.5rem;
      padding-left: 2rem;
      text-align: left;
      font-family: $title-font;
      font-weight: $regular;
      font-size: 1.3rem;
    }

    .familiar_title {
      padding-left: 2rem;
      text-align: left;
      font-family: $title-font;
      font-weight: $regular;
      font-size: 1.3rem;
    }

    .proficient_languages {
      @include tech-usage-container;
    }

    .familiar_languages {
      @include tech-usage-container;
      padding-bottom: 1rem;
    }

    .technology {
      flex: 0 0 25%;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;

      img {
        @include tech-icon-skills;
      }

      h5 {
        @include tech-name;
      }
    }

    #Node {
      justify-content: center;
    }
  }

  &:nth-child(even) .under_space {
    visibility: hidden;
  }

  &:nth-child(odd) .over_space {
    visibility: hidden;
  }
}

.under_space {
  border-left: solid 1px $red-pink;
  border-right: solid 1px $red-pink;
  border-bottom: solid 1px $red-pink;
  height: 2rem;
  margin-top: 1rem;
}

.over_space {
  border-left: solid 1px $red-pink;
  border-right: solid 1px $red-pink;
  border-top: solid 1px $red-pink;
  height: 2rem;
  margin-bottom: -1rem;
}

// @media (max-width: 600px) {
//   .card .tech_stack {
//     min-width: $min-width;
//   }
// }

@media (max-width: 1119px) {
  .card {
    &:nth-child(even) {
      .under_space {
        visibility: visible;
      }

      .over_space {
        visibility: hidden;
      }
    }
  }
}
