@import "../../util/variables";

.banner {
  position: relative;
  background-color: #000000;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  margin-top: 80px;
  justify-content: center;
  min-height: 900px;
  overflow: hidden;

  div {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    img {
      height: 64px;
      width: 64px;
      fill: white;
      &:hover {
        color: red;
      }
    }
  }
}
