@import "../../util/varibales";

#banner {
  background-color: #000000;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  margin-top: 80px;
  justify-content: center;
}


#left_shape {
  height: 60%;
  width: 33%;
  padding-top: 5%;
}

#right_shape {
  height: 60%;
  width: 33%;

}

#personal_info {
  color: white;
  font-family: $title-font;



  #name_and_role {

    #name {

      font-size: $banner-font-size;
      font-weight: $regular;



      // &::after {
      //   content: "";
      //   display: block;
      //   margin: 0 auto;
      //   width: 70%;
      //   border-bottom: 4px solid $red-pink;
      // }
    }

    #role {
      font-weight: $regular;
      font-size: $banner-role-font-size;
      padding-left: 3rem;


      // &::after {
      //   content: "";
      //   display: block;
      //   margin: 0 auto;
      //   width: 70%;
      //   border-bottom: 4px solid $red-pink;
      // }
    }
  }
}